<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="icon" type="image/png" href="../static/img/perfil.jpg" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <title>Equipe Além das Sombras</title>
</head>

<body>
  <i class="bi bi-list menu-mobile"></i>

  <aside id="header">
    <section class="profile">
      <img src="../static/img/perfil.jpg" alt="Foto perfil" />
      <h1>Equipe Além das Sombras</h1>
      <div class="social-links mt-4 text-center">
        <a target="_blank" href="https://www.facebook.com/people/Marcelo-Alves/100081843710903/">
          <i class="bi bi-facebook"></i>
        </a>
        <a target="_blank" href="https://www.youtube.com/@alemdassombras666">
          <i class="bi bi-youtube"></i>
        </a>
        <a target="_blank" href="estrateus2@gmail.com">
          <i class="bi bi-envelope-at-fill"></i>
        </a>
        <a target="_blank" href="">
          <i class="bi bi-whatsapp"></i>
        </a>
      </div>
    </section>

    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house" aria-hidden="true"></i>
            Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-list-check" aria-hidden="true"></i> Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-file-earmark" aria-hidden="true"></i> Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-collection" aria-hidden="true"></i> Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main id="main">
    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Equipe Além das Sombras</h2>
        <span id="subtitle" class="text-white text-shadow">Investigação Paranormal</span>
      </div>

      <div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arraste" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arraste para mais</a>
        </div>
      </div>
    </section>

    <section class="container mt-5" id="sobre">
      <div class="row w-100">
        <div class="col-md-12" data-anime="down">
          <h2 class="pt-3">Sobre</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo
            corporis ab,doloribus molestiae adipisci veritatis quas, dicta
            nostrum odio dolorum reprehenderit enim minus, obcaecati illum.
            Ratione nam corporis molestias porro.
          </p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <img class="img-fluid shadow" src="../static/img/ads.jpeg" alt="ads"  data-anime="left" />
        </div>
        <div class="col-md-8" data-anime="right">
          <h3>Marcelo Soares</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt
            architecto rerum earum adipisci. Perspiciatis sequi qui
            consectetur beatae harum quisquam sapiente, temporibus in
            perferendis, voluptate iste hic corporis maiores quia!
          </p>

          <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Fundado:
                  <span class="fw-lighter">16 de Janeiro de 2024</span>
                </li>
                <li class="list-group-item">
                  Equipe: <span class="fw-lighter">Samy, Aline e Natan</span>
                </li>
                <li class="list-group-item">
                  Cidade: <span class="fw-lighter">Cachoeira do Sul</span>
                </li>
                <li class="list-group-item">
                  Estado: <span class="fw-lighter">Rio Grande do Sul</span>
                </li>
              </ul>
            </div>
          </div>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
            nulla! Quidem adipisci repudiandae est, perferendis sapiente nemo
            commodi laborum officia, iure sit, maxime expedita alias ex in
            temporibus exercitationem numquam! Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Ipsum cum praesentium officia
            similique quidem blanditiis nostrum explicabo eius eaque, nam
            tempore reprehenderit animi cumque repellat ad natus, fuga esse
            iste?
          </p>
        </div>
      </div>
    </section>

    <secttion id="" class="section-bg mt-5">
      <div class="container pb-5 pt-5">
        <h2 class="pb-4"></h2>

        
         
        
                <div class="col" data-anime="right" >
                  <div class="card">
                    <iframe id="video" class="card-img-top shadow" height="600"
                      src="https://www.youtube.com/embed/PGG5ttxTpH8?si=BhSMfmz_NckfQbRa" title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                      allowfullscreen></iframe>
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                
            
          

        
      </div>
      </div>
      </div>
    </secttion>

    <section class="pt-5 pb-5" id="contato">
      <div class="container mb-5">
        <h2 class="pt-3 pb-3">Contato</h2>

        <div class="row">
          <div class="col-md-5">
            <div class="card p-5 shadow border-0" data-anime="up">
              <div class="endereco">
                <h4><i class="bi bi-geo-alt"></i>Localização:</h4>
                <p>Cachoeira do Sul, RS</p>
              </div>

              <div class="email">
                <h4><i class="bi bi-envelope"></i>Email:</h4>
                <p>alemdassombras666@gmail.com</p>
              </div>

              <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110539.60864515614!2d-52.96554558121515!3d-30.026448695745234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9504a7e7ba3b5aaf%3A0xebba93034ab65266!2sCachoeira%20do%20Sul%2C%20RS!5e0!3m2!1spt-BR!2sbr!4v1705447936457!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <div class="col-md-7 mt-5 mt-md-0" data-anime="left">
            <div class="card p-5 h-100 shadow border-0">

              <form class="row g-3">
  <div class="col-md-6">
    <label for="nome" class="form-label">Nome:</label>
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email">
  </div>
  <div class="col-12">
    <label for="mensagem" class="form-label">Mensagem:</label>
    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10" placeholder="Digite sua mensagem4">
      </textarea>
  </div>
  
  
  <div class="col-12 d-flex justify-content-center mt-4">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>

            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>